<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">


        <h1>Checkout</h1>
        <h4>Total: ${{total}}</h4>
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>


        <form action="/checkout" method="post" id="checkout-form">

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" readonly name="name" value="{{user.firstName}} {{user.lastName}}">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea rows="3" class="form-control" readonly>{{user.street}}&#10;{{user.city}} {{user.province}} {{user.country}}&#10;{{user.zipcode}}</textarea>
                    </div>
                </div>
                <hr>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-name">Credit Card Name</label>
                        <input type="text" id="card-name" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-number">Credit Card Number</label>
                        <input type="text" id="card-number" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-month">Expiry Month</label>
                                <select id="card-expiry-month" class="form-control" required>
                                	<option value="01" selected>01</option>
                                	<option value="02">02</option>
                                	<option value="03">03</option>
                                	<option value="04">04</option>
                                	<option value="05">05</option>
                                	<option value="06">06</option>
                                	<option value="07">07</option>
                                	<option value="08">08</option>
                                	<option value="09">09</option>
                                	<option value="10">10</option>
                                	<option value="11">11</option>
                                	<option value="12">12</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-year">Expiry Year</label>
                                <select id="card-expiry-year" class="form-control" required>
                                	<option value="2018" selected>2018</option>
                                	<option value="2019">2019</option>
                                	<option value="2020">2020</option>
                                	<option value="2021">2021</option>
                                	<option value="2022">2022</option>
                                	<option value="2023">2023</option>
                                	<option value="2024">2024</option>
                                	<option value="2025">2025</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-cvc">Card CVC</label>
                        <input type="text" id="card-cvc" class="form-control" required>
                    </div>
                </div>
            </div>
			<a type="button" href="/" class="btn btn-success">Cancel Checkout</a>
            <button type="submit" class="btn btn-success">Submit Order</button>
        </form>

    </div>
</div>
